@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;  
}
.sidebar {
    margin: 0;
    padding: 1rem;
    width: 300px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .sidebar a {
    display: inline-block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
   

  
  .sidebar a:hover:not(.active) {
    background-color: white;
    width: 260px;
    color: black;
  }
  

iframe{
    margin-left: 300px;
}
