<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="components.css" />
		<link rel="stylesheet" href="install.css" />
		<title>Badges</title>
	</head>
	<body>
		<div class="sidebar">
			<div class="sidebar__btn">
				<a class="sidebar__logo" href="/components/install.html"
					><img class="logo" src="/icons/logo.png" alt="" />Metal UI</a
				>
				<button class="hamburger" id="hamburger">
					<span style="color: white">&#9776;</span>
				</button>
			</div>
			<div id="nav-ul">
				<a href="/components/install.html" class="nav-li">Get Started</a>
				<a class="nav-li" href="/components/buttons.html">Buttons</a>
				<a class="nav-li" href="/components/alerts.html">Alerts</a>
				<a class="nav-li" href="/components/badges.html">Badges</a>
				<a class="nav-li" href="/components/cards.html">Cards</a>
				<a class="nav-li" href="/components/avatars.html">Avatars</a>
				<a class="nav-li" href="/components/input.html">Inputs</a>
				<a class="nav-li" href="/components/modals.html">Modals</a>
				<a class="nav-li" href="/components/navbar.html">Navbar</a>
				<a class="nav-li" href="/components/typography.html">Typography</a>
				<a class="nav-li" href="/components/responsive_images.html">Image</a>
				<a class="nav-li" href="/components/lists.html">Lists</a>
				<a class="nav-li" href="/components/grids.html">Grid</a>
				<a class="nav-li" href="/components/rating.html">Rating</a>
			</div>
		</div>
		<div class="badges__container">
			<h1>Badges</h1>
			<p>
				Badges are used to highlight an item's status for quick recognition.
			</p>

			<div class="badges">
				<span class="badge__primary">Primary</span>
				<span class="badge__secondary">Secondary</span>
				<span class="badge__success">Success</span>
				<span class="badge__danger">Danger</span>
			</div>
			<div class="badges__iframe__container">
				<iframe
					src="https://carbon.now.sh/embed?bg=transparent&t=one-dark&wt=none&l=text%2Fx-csrc&width=333.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%253Cspan%2520class%253D%2522badge__primary%2522%253EPrimary%253C%252Fspan%253E%250A%253Cspan%2520class%253D%2522badge__secondary%2522%253ESecondary%253C%252Fspan%253E%250A%253Cspan%2520class%253D%2522badge__success%2522%253ESuccess%253C%252Fspan%253E%250A%253Cspan%2520class%253D%2522badge__danger%2522%253EDanger%253C%252Fspan%253E"
					style="
						width: 100%;

						border: 0;
						transform: scale(1);
						overflow: hidden;
					"
					class="badges__iframe"
					sandbox="allow-scripts allow-same-origin"
				>
				</iframe>
			</div>
		</div>
		<script src="../script.js"></script>
	</body>
</html>
