<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="badges.css">
    <link rel="stylesheet" href="components.css">
    <link rel="stylesheet" href="install.css">
    <title>Badges</title>
</head>
<body>
    <div class="sidebar">
      <a class ="sidebar__logo" href="/components/install.html"><img class="logo" src="/icons/logo.png" alt="">Metal UI</a>
        <a href="/components/buttons.html">Buttons</a>
        <a href="/components/alerts.html">Alerts</a>
        <a href="/components/badges.html">Badges</a>
        <a href="/components/cards.html">Cards</a>
        <a href="/components/avatars.html">Avatars</a>
        <a href="/components/input.html">Inputs</a>
        <a href="/components/modals.html">Modals</a>
      </div>
    <div class="badges__container">
    <h1>Badges</h1>
    <p>Badges are used to highlight an item's status for quick recognition.</p></div>
    <div class="badges">
        <span class="badge__primary">Primary</span>
        <span class="badge__secondary">Secondary</span>
        <span class="badge__success">Success</span>
        <span class="badge__danger">Danger</span>
      
    </div>
    
    <div class="badges__code">
        <iframe
        src="https://carbon.now.sh/embed?bg=rgba%280%2C0%2C0%2C1%29&t=one-dark&wt=none&l=auto&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cspan%2520class%253D%2522badge__primary%2522%253EPrimary%253C%252Fspan%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cspan%2520class%253D%2522badge__secondary%2522%253ESecondary%253C%252Fspan%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cspan%2520class%253D%2522badge__success%2522%253ESuccess%253C%252Fspan%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cspan%2520class%253D%2522badge__danger%2522%253EDanger%253C%252Fspan%253E%250A%257D"
        style="width: 614px; height: 278px; border:0; transform: scale(1); "
        sandbox="allow-scripts allow-same-origin">
      </iframe>
    </div>
</body>
</html>