<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="components.css" />
		<link rel="stylesheet" href="install.css" />
		<title>Grid</title>
	</head>
	<body>
		<div class="sidebar">
			<div class="sidebar__btn">
				<a class="sidebar__logo" href="/components/install.html"
					><img class="logo" src="/icons/logo.png" alt="" />Metal UI</a
				>
				<button class="hamburger" id="hamburger">
					<span style="color: white">&#9776;</span>
				</button>
			</div>
			<div id="nav-ul">
				<a class="nav-li" href="/components/buttons.html">Buttons</a>
				<a class="nav-li" href="/components/alerts.html">Alerts</a>
				<a class="nav-li" href="/components/badges.html">Badges</a>
				<a class="nav-li" href="/components/cards.html">Cards</a>
				<a class="nav-li" href="/components/avatars.html">Avatars</a>
				<a class="nav-li" href="/components/input.html">Inputs</a>
				<a class="nav-li" href="/components/modals.html">Modals</a>
				<a class="nav-li" href="/components/navbar.html">Navbar</a>
				<a class="nav-li" href="/components/typography.html">Typography</a>
				<a class="nav-li" href="/components/responsive_images.html">Image</a>
				<a class="nav-li" href="/components/lists.html">Lists</a>
				<a class="nav-li" href="/components/grids.html">Grid</a>
				<a class="nav-li" href="/components/rating.html">Rating</a>
			</div>
		</div>

		<div class="grid__container">
			<h1 style="text-align: center">Grid</h1>
			<h2 style="text-align: center">Responsive Grid</h2>
			<div class="responsive__grid">
				<div class="card__border">
					<img src="/icons/card.png" alt="card" />
					<div>
						<span class="card__rating">4</span><i class="fas fa-star"></i>
					</div>
					<div class="card__body">
						<h3 class="card__title">Nike</h3>
						<p class="card__text">Men Red & Black Flex 2018 Running Shoes</p>
						<h4 class="card__price">
							Rs.5000 <span class="card__old__price">Rs.7945 </span
							><span class="card__discount"> (45% OFF)</span>
						</h4>
						<a href="" class="card__btn">Add to Cart</a>
					</div>
				</div>

				<div class="card__border">
					<img src="/icons/card.png" alt="card" />
					<div>
						<span class="card__rating">4</span><i class="fas fa-star"></i>
					</div>
					<div class="card__body">
						<h3 class="card__title">Nike</h3>
						<p class="card__text">Men Red & Black Flex 2018 Running Shoes</p>
						<h4 class="card__price">
							Rs.5000 <span class="card__old__price">Rs.7945 </span
							><span class="card__discount"> (45% OFF)</span>
						</h4>
						<a href="" class="card__btn">Add to Cart</a>
					</div>
				</div>

				<div class="card__border">
					<img src="/icons/card.png" alt="card" />
					<div>
						<span class="card__rating">4</span><i class="fas fa-star"></i>
					</div>
					<div class="card__body">
						<h3 class="card__title">Nike</h3>
						<p class="card__text">Men Red & Black Flex 2018 Running Shoes</p>
						<h4 class="card__price">
							Rs.5000 <span class="card__old__price">Rs.7945 </span
							><span class="card__discount"> (45% OFF)</span>
						</h4>
						<a href="" class="card__btn">Add to Cart</a>
					</div>
				</div>
			</div>

			<iframe
				src="https://carbon.now.sh/embed?bg=transparent&t=one-dark&wt=none&l=text%2Fx-csrc&width=333.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522responsive__grid%2522%253E%250A%2520%2520%252F%252Fwrite%2520code%2520here%250A%253C%252Fdiv%253E"
				style="
					width: 100%;

					border: 0;
					transform: scale(1);
					overflow: hidden;
				"
				sandbox="allow-scripts allow-same-origin"
				class="grid__iframe"
			>
			</iframe>
		</div>
		<script src="../script.js"></script>
	</body>
</html>
