<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="components.css" />
		<link rel="stylesheet" href="install.css" />
		<title>Inputs</title>
	</head>

	<body>
		<div class="sidebar">
			<div class="sidebar__btn">
				<a class="sidebar__logo" href="/components/install.html"
					><img class="logo" src="/icons/logo.png" alt="" />Metal UI</a
				>
				<button class="hamburger" id="hamburger">
					<span style="color: white">&#9776;</span>
				</button>
			</div>
			<div id="nav-ul">
				<a href="/components/install.html" class="nav-li">Get Started</a>
				<a class="nav-li" href="/components/buttons.html">Buttons</a>
				<a class="nav-li" href="/components/alerts.html">Alerts</a>
				<a class="nav-li" href="/components/badges.html">Badges</a>
				<a class="nav-li" href="/components/cards.html">Cards</a>
				<a class="nav-li" href="/components/avatars.html">Avatars</a>
				<a class="nav-li" href="/components/input.html">Inputs</a>
				<a class="nav-li" href="/components/modals.html">Modals</a>
				<a class="nav-li" href="/components/navbar.html">Navbar</a>
				<a class="nav-li" href="/components/typography.html">Typography</a>
				<a class="nav-li" href="/components/responsive_images.html">Image</a>
				<a class="nav-li" href="/components/lists.html">Lists</a>
				<a class="nav-li" href="/components/grids.html">Grid</a>
				<a class="nav-li" href="/components/rating.html">Rating</a>
			</div>
		</div>
		<div class="input__container">
			<h1>Inputs</h1>
			<p>
				This component is used to taking user's input in a text, email or
				password field.
			</p>

			<div class="inputs">
				<div class="outline">
					<h1 style="padding-bottom: 2rem">Outline</h1>
					<input
						class="input__outline"
						type="text"
						placeholder="Outline"
						autofocus
					/>
				</div>
				<iframe
					src="https://carbon.now.sh/embed?bg=transparent&t=one-dark&wt=none&l=text%2Fx-csrc&width=333.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%253Cinput%2520class%253D%2522input__outline%2522%2520type%253D%2522text%2522%2520placeholder%253D%2522Outline%2522%2520autofocus%253E"
					style="
						width: 100%;

						border: 0;
						transform: scale(1);
						overflow: hidden;
					"
					class="outline__iframe"
					sandbox="allow-scripts allow-same-origin"
				>
				</iframe>
				<div class="custom">
					<h1 style="padding-bottom: 2rem">Custom input</h1>
					<input type="file" name="Upload" class="input__upload" width="10" />
				</div>
				<iframe
					src="https://carbon.now.sh/embed?bg=transparent&t=one-dark&wt=none&l=text%2Fx-csrc&width=333.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%253Cinput%2520type%253D%2522file%2522%2520name%253D%2522Upload%2522%2520class%253D%2522input__upload%2522%2520width%253D%252210%2522%253E"
					style="
						width: 100%;

						border: 0;
						transform: scale(1);
						overflow: hidden;
					"
					class="custom__iframe"
					sandbox="allow-scripts allow-same-origin"
				>
				</iframe>
				<div class="password">
					<h1 style="padding-bottom: 2rem">Password</h1>
					<input
						type="password"
						placeholder="Enter password"
						class="input__password"
					/>
				</div>
				<iframe
					src="https://carbon.now.sh/embed?bg=transparent&t=one-dark&wt=none&l=text%2Fx-csrc&width=333.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%253Cinput%2520type%253D%2522password%2522%2520placeholder%253D%2522Enter%2520password%2522%2520class%253D%2522input__password%2522%253E"
					style="
						width: 100%;

						border: 0;
						transform: scale(1);
						overflow: hidden;
					"
					class="password__iframe"
					sandbox="allow-scripts allow-same-origin"
				>
				</iframe>

				<div class="flushed">
					<h1 style="padding-bottom: 2rem">Flushed</h1>
					<input type="text" class="input__flushed" placeholder="Flushed" />
				</div>
				<iframe
					src="https://carbon.now.sh/embed?bg=transparent&t=one-dark&wt=none&l=text%2Fx-csrc&width=333.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=13px&lh=133%25&si=false&es=2x&wm=false&code=%253Cinput%2520type%253D%2522text%2522%2520class%253D%2522input__flushed%2522%2520placeholder%253D%2522Flushed%2522%253E"
					style="
						width: 100%;

						border: 0;
						transform: scale(1);
						overflow: hidden;
					"
					class="flushed__iframe"
					sandbox="allow-scripts allow-same-origin"
				>
				</iframe>
			</div>
		</div>
		<script src="../script.js"></script>
	</body>
</html>
