.logo {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

div.content {
  margin-left: 300px;
  padding: 1px 16px;
  height: 1000px;
}
.sidebar .sidebar__logo {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-left: 300px;
}
.intro h1 {
  margin-bottom: 1rem;
}
.heading {
  margin: 1rem 0;
}
.info {
  padding: 1rem 0;
  color: rgba(107, 114, 128, 1);
}
