.logo {
	width: 40px;
	height: 40px;
	margin-right: 0.5rem;
}
.install__iframe {
	width: 30%;
	height: 117px;
}
div.content {
	margin-left: 300px;
	padding: 1px 16px;
	height: 1000px;
}

.sidebar .sidebar__logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: white;
}

#nav-ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.hamburger {
	background-color: transparent;
	border: none;
	color: white;
	font-size: 1rem;
	cursor: pointer;
	display: none;
}
.hamburger:focus {
	outline: none;
}
.container {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;
	max-width: 1200px;
	margin-left: 300px;
	gap: 1rem;
}
.intro h1 {
	margin-bottom: 1rem;
}

.info {
	color: rgba(107, 114, 128, 1);
}
@media (max-width: 648px) {
	.container {
		margin-left: 0;
		max-width: 650px;
	}
	.install__iframe {
		height: 117px;
		width: 90%;
	}
	#nav-ul {
		display: none;
		width: 100%;
		flex-direction: column;
	}
	#nav-ul.show {
		display: flex;
		align-items: center;
	}
	.hamburger {
		display: block;
	}
}
